* {
    margin: 0%;
    padding: 0%;
    font-family: 'Comic Neue', cursive;
}
:root{
--color-background: rgb(208, 211, 174);
--color1:rgb(247, 243, 19);
--color2:rgb(255, 255, 255);
--color-hovernav:rgb(66, 158, 74);
--color-nav:rgb(241, 206, 10);
--color-rules:rgb(177, 164, 53);
--color3:   rgb(0, 0, 0);
--color4: rgb(201, 27, 27);
--color5: rgb(235, 230, 190);
}

body{
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0.5em;
    font-size: 6rem;
    color: var(--color1);
    text-shadow: 0.2rem 0.2rem 0.1rem var(--color4);
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    position: absolute;
    top: 0.5rem;
}

nav{
    margin: 1rem;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    grid-row: 1/3;
    align-items: flex-start;
}
nav a[href="#"] {
    background-color: var(--color-hovernav);
}

nav>a{
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--color-nav);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--color2);
    font-size: 1.2rem;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: var(--color3);
    font-size: 1.2rem;
    font-weight: bolder;
}

nav>a:hover{
    color: var(--color2);
    background-color: var(--color-hovernav);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

h2 {
    color: var(--color1);
    -webkit-text-stroke: 2px var(--color4);
    margin: 0%;
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
}


h4{
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color3);
}

aside{
    display: flex;
    justify-content:right;
    position: absolute;;
    right: 100%;
    bottom: 60px;
}

.backgroud{
    width: 100%;
    height: 40rem;
}

.logo{
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 4rem;
    top: 5rem;
}

/* .schedule{
    text-align: center;
    display: grid;
    margin: 1rem;
    padding: 200px;
    justify-content: center;
    border-radius: 1rem;
} */

.indent{
    text-indent: 1rem;
}

/* Reglas/Rules */
.rules{
    border: 10px solid var(--color1);
    border-radius: 25px;
    background-color: var(--color5);
    box-shadow: 2px 2px 2px 2px var(--color4);
    padding: 35px;
    margin: 2rem  auto;
    width: 40%;
    min-width: 6px;
    height: auto;
    min-height: 15px;
}

.ol{
    margin-left: 2rem;
}

.ol-leters{
    margin-left: 3rem;
}

li {
    margin-bottom: 0.5rem;
}

/* Tablas/Tables */

.subtitle{
    text-align: center; 
}

table{
    width: 40%;
    margin: 2rem  auto;
    text-align: center;
}

th{
    font-size: 1.5rem;
    border-bottom: 2px solid var(--color1);
}

.table{
    border: 10px solid var(--color1);
    border-radius: 25px;
    background-color: var(--color5);
    box-shadow: 2px 2px 2px 2px var(--color4);
    padding: 35px;
    margin: 2rem  auto;
    width: 40%;
    min-width: 600px;
    height: auto;
    min-height: 150px;
}